extends inventory

block content

    h1= title 

    ul
        each inStock in carsinstock_list
            li 
                a(href=inStock.url) #{inStock.in_stock} 
                | - #{inStock.car.model}
        
        else 
            li There are no cars in stock