extends layout

block content
  div#background.p-5
    h1.d-flex.justify-content-center= title

    div.text-center.mt-5
      p Get a car and take it for a spin

    div.d-flex.justify-content-center.mt-5.p-5
      a(href="/inventory") 
        button.btn.btn-outline-light.ps-5.pe-5.mt-5 Inventory