body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

#background {
  background-image: url("../images/background.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

.imgdiv {
  max-width: 500px;
}
.carimage {
  width: 100%;
}


